<!-- The Main Content for the Edit Profile section -->
{% extends "shared/base.html" %}
{% load static %}
{% block page_content %}
<section id="edit">
    <div class="form">
        <!-- Title of the Page -->
        <h2>Edit Profile</h2>

        <!-- Edit Profile Form -->
<form class="edit-form" method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        {{ form.as_p }}
    
        <!-- Edit Button -->
        <input class="btn submit" type="submit" value="Edit">
    </form>
    
        <!-- End Edit Profile Form -->
    </div>
</section>
<!-- End Edit Profile section -->

{% endblock %}
